<style>
.content {
    max-width: 500px;
    margin: auto;
  }
  </style>
  <body>

  <gallery>

  </gallery>
  
  <div class="content">
    <!-- Page content -->

  </div>
  .img{

  }

  .fullsize{
    width: 500px
  }
  
  
  </body>
       ul{
        max-width: 500px;
        margin: 0;
        padding: 0;
        list-style-type: none;
       }
       li{
        display: inline-flex;
        margin-right: 20px;
       }
       p {
        padding-top: 5px;
    }
    header {
        padding-top: 20px;
    }
    ul{
        padding-top: 20px;
        position:sticky;
    }
    div {
     max-width: 500px;
    }
    li{
        display: inline-block;
       }
    </style>